* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #efd9d9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #757575;
}

a {
    text-decoration: none;
    color: #757575;
}

ul {
    list-style-type: none;
}

.title {
    margin-bottom: 20px;
}

.menu {
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
}

.menu-item {
    width: 200px;
    
    /* position: relative; */
}
.menu-item p:hover{
    background-color: #ECEFF1;
}

.menu-item p {
    padding-left: 8px;
    padding-right: 8px;
    height: 27px;
    line-height: 27px;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu-item p .icon {
    display: none;
}

.menu-item:hover > p,
.menu-item:hover > p a {
    color: chocolate;
}

.menu-item:hover > p .icon,
.menu-item:hover > p .icon {
    display: inline-block;
    color: chocolate;
}

.sub-menu {
    width: 200px;
    position: absolute;
    top: 0;
    left: 200px;
    background-color: rgb(255, 255, 255);
    display: none;
    height: 100%;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
}
.submenu .menu-item{
    position:relative;
}

.menu-item:hover .sub-menu {
    display: block;
}

.c2menu{
    position: absolute;
    background-color: #fff;
    display: none;
    top:0;
    left:100%;
    width:100%;
    height:100%;
    font-size:13px;
    line-height: 27px;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
    
    
}
.menu-itemm:hover .c2menu{
    display: inline-block;
}
.menu-itemm:hover .icon{
    display: inline-block;
    color: chocolate;
}

.c2menu a:hover{
    color:chocolate;
}




